.card-project {
    max-width: 20em;
    min-height: 20em;
}

.text-justify {
    text-align: justify;
}

.img-cover {
    object-fit: cover;
}

.project-img {
    width: inherit;
    height: 12em;
}

.card-zoom {
    zoom: 105%;
}

.language-icon, .framework-icon {
    width: 40px;
    height: 40px;
}

.card-project-image, .card-project-description, .card-project-details {
    height: 25em;
}

.card-project-details-50 {
    height: 12.25em;
}

.mouse-pointer {
    cursor: pointer;
}

.h-50 {
    height: 40%;
}